# =============================
# Requisitos principais
# =============================
streamlit==1.42.2
pandas==1.5.3
numpy==1.24.4
yfinance==0.2.54
plotly==6.0.0
scikit-learn
prophet==1.1.5

# =============================
# Visualização e Gráficos
# =============================
matplotlib==3.10.0
altair==5.5.0

# =============================
# Utilitários e Backend
# =============================
requests==2.32.3
python-dateutil==2.9.0.post0
pytz==2025.1
tzdata==2025.1

# =============================
# Extras para Interface Streamlit
# =============================
streamlit-extras==0.5.5
streamlit-card==1.0.2
streamlit-faker==0.0.3
streamlit-keyup==0.3.0
streamlit-embedcode==0.1.2
streamlit-vertical-slider==2.5.5
streamlit-camera-input-live==0.2.0
st-annotated-text==4.0.2
st-theme==1.2.3

# =============================
# Necessários para Prophet
# =============================
cmdstanpy==1.2.0